<h1>Your Result !!!</h1>
<div id="result">
  <p id="response"> <%= @response %> </p>
  <p id="score"> Your score is : <br> <span id="score-num"><%=  session[:score] %> </span></p>
  <a id="link" href="<%=new_path%>">Try again</a>
</div>
